<!doctype html>
<html>
  <head>
    <title>Member's Only</title>
  </head>
  <body>
    <h1>Member's Only</h1>
    <p>Welcome to Member's Only</p>
    <a href="/sign-up">Sign up!</a>
  </body>
</html>
